// COLOR
$color-green: #55c57a;
$color-green-light: red;
$color-green-dark: #28b485;

$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$font-primary: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-width-y: 8rem;
$gutter-width-y-small: 6rem;
$gutter-width-x: 6rem;